.blog{
  padding: 10px  0 30px;
}
.blog__header{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.blog__row{
  display: flex;
  column-gap: 40px;
}
.blog__text{
  font-size: 25px;
  padding: 20px 0;
}
.blog__title{
  font-size: 40px;
}
.blog__btn{
  color: white;
  padding: 0 40px;
  font-size: 15px;
  border: none;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
}
.blog__card-text{
  padding: 10px 0;
  font-size: 16px;
}
.blog__card-desc{
  font-size: 20px;
  padding: 10px 0 30px;
}